.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding-top: 0px;
}

.content.admin {
    padding-top: 80px;
}

.no-header {
    padding-top: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px; /* Height of footer */
}

/* For pages that need to fill the viewport */
.main-content > div {
  flex: 1;
}